/*Body*/
body{
    background-image:url("https://pa1.narvii.com/6334/e74a9e8487e5dff001a0ee2b158309876f84e847_hq.gif");
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    color:white;
    background-color: rgb(3 2 38);
}

.navigate {
    background: rgb(3 2 38);
}

.navigate-items {
    justify-content: flex-end;
}

.navigate-items a {
    color:white;
    font-size: 20px;
    font-weight: bold;
}

.navigate-items a:hover {
    color:#1e33ac;
}

.navigate-items a:focus {
    color:#1e33ac;
}


/* Barra de navegacion*/
.navbar {
padding: 3rem;
background-color: rgb(3 2 38);
text-shadow: 1px 1px #fff
}
.navbar-collapse{
align-items: center;
justify-content: space-between;
}
.navbar-toggler{
    padding: 5px; 
}
/*Adaptable (reponsivo)*/
@media screen and (max-width: 767px) {
    .navbar-brand {
        display:none;
    
    }

}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(18, 21, 196);
    color: white;
    cursor: pointer;
    padding: 8px 10px 5px;
    border-radius: 50%;
    font-size: 18px;
}
/* seccion principal*/
.hero {
background-color:rgb(3 2 38);
min-height: 450px;
text-align:center;
}
.hero-principal{
    padding: 3rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imagen{
    width: 150px;
    height: 150px;
    border-radius:100%;
    margin: 20px;
}

.hero-principal h2 {
    font-size: 2rem;
    color: #e7e4e4;
}
.hero-principal h1{
    font-size: 5rem;
    color:#fff ;
    text-shadow: 4px 4px black ;
    font-family: 'Glory',ssans-serif;
}
@media only screen and (max-width: 700px) {
 .conteiner_btn {
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 20px;
  }
}
.conteiner_btn {
    display: flex;
    align-items: center;
    font-family: 'Glory', sans-serif;
    align-content: center;
}
.btn-neon {
    background: #1e33ac;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: 25px;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 25px;
}

.btn-neon:hover {
    background: #101d66
}
/* Estilo general*/
section{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Sobre Mi */
@media only screen and (max-width: 700px) {
  .sobre-mi .contenedor {
    display: block;
  }
}
.seccion-oscura{
    color:white;
    background-color:rgb(3 2 38);
    margin:15%;
}
.sobre-mi{
 padding: 20px;
 text-align:center;
 border-radius: 5px;
}
.sobre-mi .contenedor .col{
    color: white;
    margin-bottom: 5px;
    margin-top: 20px;
    font-size: 25px;
    margin-left: 20px;
}

.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Glory', sans-serif;
}
.seccion-texto{
    font-size: 1rem;
    padding: 10px;
}

/*habilidades*/

.habilidades{
    text-align: center;
    border-radius: 5px;
}
.seccion-clara{
    color:#f3f4fb;
    background-color: #040b23;
    margin: 100px;
    font-size: 20px;

}
.habilidades .row div {
    margin-top: 10px;
}
.conocimiento-titulo {
    font-size: 2rem;
    font-weight: bold;
    margin: 15px;
    font-family: 'Glory', sans-serif;
}
.badges-contenedor {
    margin: 10px 0;
}
.badge {
 margin:5px;
}
.habilidades i{
    font-size: 3rem;
    color:#11b9f1;
    background-color: black;
    padding: 9px 20px;
    border-radius: 50%;

}
 .habilidades .columna {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
/*.habilidades .columna:hover{
    color:black;
    background-color: white;

}*/
 /*Contacto*/

 .contacto {
    border-radius: 5px;
 }
 .contacto .container{
    max-width: 1200px;
    min-height:200px;
   
 }
 .contacto .container .recuadro{
    background-color: #0d0f2e;
    border-radius: 20px;
 }
 .contacto .row {
    width: 100%;
    height:100% ;
    display: flex;
    align-items: center;
}
.contacto .detalle{
    margin-bottom: 50px;
    font-size: 20px;
}
 .contacto button{
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 3px solid rgb(13, 195, 228);
    padding: 0.6em 4em;
    margin: 20px;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px #07b9f4, 0 0 40px #04136a, 0 0 80px #040d13;   
}

.contacto button:hover{
    background-color: white;
    color:black;
}
.contacto button i{
    color:white;
    font-size:1.4rem;
    transition: all 0.3s ease-in-out;
}
.contacto button:hover i{
    color:black;
}
/*Redes Sociales*/
.footer-icono {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 20px;
}
 
.iconos-redes-sociales a:hover {
    width:70px;
    height:70px;
    background-color: white;
    border: 2px solid rgb(13, 110, 253);
}
.footer-texto {
    font-size: 2rem;
    padding: 20px;
    margin-bottom: 50px;
    font-family:'Glory', sans-serif;
} 
.iconos-redes-sociales a {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    margin: 20px;
    border: 2px solid 50% rgb(89, 55, 238);
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.derechos-del-autor {
    font-size: 20px; 
    padding:20px;
}




